if SHIELD_VERDIN_RIGHT

config ZMK_KEYBOARD_NAME
    default "Verdin"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VERDIN_LEFT || SHIELD_VERDIN_RIGHT

config ZMK_SPLIT
    default y

endif

config I2C
    default y

