if SHIELD_CHOLIBRI_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cholibri"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHOLIBRI_LEFT || SHIELD_CHOLIBRI_RIGHT

config ZMK_SPLIT
    default y

endif

config I2C
    default y

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT
